<div class="l-grid">

    <div class="l-grid__sidebar">

        {{> organisms-header }}

    </div><!--end l-grid__sidebar-->

    <div class="l-grid__main">

        <main role="main">

            <div class="l-linelength-container">
                {{> molecules-page-header }}
                
                {{> organisms-demo-text-passage }}
            </div>

        </main>

        {{> organisms-footer }}

    </div><!--end l-grid__main-->

</div><!--end l-container"-->