{{> organisms-header }}

<main role="main">

    <div class="l-container">
        {{> molecules-hero }}
        <ul>
            <li>CTA (How do I use it?)</li>
            <li>Examples (demos and in-the-wild examples)</li>
            <li>Feature list</li>
            <li>[Download]</li>
            <li>Contributors</li>
        </ul>
        
    </div>

</main>

{{> organisms-footer }}