<div class="l-grid">
	<div class="l-grid__sidebar">
		{{> organisms-header }}
	</div>
	<!--end l-grid__sidebar-->

	<div class="l-grid__main">
		<main>
			<div class="l-container">
				{{> molecules-page-header }}

				<video
					autoplay=""
					loop=""
					playsinline=""
					muted=""
				>
					<source
						src="https://patternlab.io/assets/atomic-design.mp4"
						type="video/mp4"
					/>
				</video>

				<div
					class="fpo-block"
				>
					Features
				</div>
				<div
					class="fpo-block"
				>
					Resources
				</div>
				<div
					class="fpo-block"
				>
					Demos
				</div>
				<div
					class="fpo-block"
				>
					Contributors
				</div>
			</div>
		</main>

		{{> organisms-footer }}
	</div>
	<!--end l-grid__main-->
</div>
<!--end l-container"-->
