<div class="l-grid">

    <div class="l-grid__sidebar">

        {{> organisms-header }}

    </div><!--end l-grid__sidebar-->

    <div class="l-grid__main">

        <main role="main">

            <div class="fpo-block">Hero with callout</div>
            <div class="fpo-block">Features</div>
            <div class="fpo-block">Resources</div>
            <div class="fpo-block">Demos</div>
            <div class="fpo-block">Contributors</div>
        </main>

        {{> organisms-footer }}

    </div><!--end l-grid__main-->

</div><!--end l-container"-->