{{> organisms-header }}

<main role="main">

    <div class="l-container l-grid">

        <div class="l-grid__main">

    	    {{> molecules-page-header }}

            {{> organisms-text-passage }}

        </div>

        <div class="l-grid__sidebar">
            <div class="fpo" style="background: #eee; padding: 1rem; font-weight: bold; text-align: center;">Tree Navigation</div>
        </div>

    </div><!--end l-container"-->

</main>

{{> organisms-footer }}