<header class="c-header {{ headerStyleModifier }}">

    <div class="l-container c-header__inner">

    	{{> molecules-logo }}

    	{{> molecules-tree-nav }}

    </div><!--end l-container-->

</header><!--end c-header-->
