<header class="c-header {{ headerStyleModifier }}">
	<div class="c-header__inner">
		{{> molecules-logo }}

		{{> molecules-tree-nav }}
	</div>
	<!--end c-header__inner-->
</header>
<!--end c-header-->
