<header class="c-header {{ headerStyleModifier }}">
	<div class="c-header__inner">
		{{> molecules-logo }}

		<button
			class="c-btn c-btn--inverted c-btn--small c-header__nav-btn js-nav-trigger c-btn--small c-header__nav-btn"
		>
			Menu
		</button>

		<div
			class="c-header__nav-container js-nav-panel"
		>
			{{> molecules-tree-nav }}
		</div>
	</div>
	<!--end c-header__inner-->
</header>
<!--end c-header-->
