/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */
.c-logo {
	margin-bottom: $spacing-large;
}

/**
 * Logo link
 */
.c-logo__link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/**
 * Logo image
 */
.c-logo__img {
	display: block;
	max-width: 6rem;
	margin-bottom: 0.25rem;
}

/**
 * Logo text
 */
 .c-logo__text {
	text-transform: lowercase;
	font-weight: bold;
	color: $color-white;
}
