/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout Container
 * 1) Caps the width of the content to the maximum width
 *    and centers the container
 */
.l-container {
	max-width: $l-max-width;
	margin: 0 auto;
	width: 100%;
}

/**
 *
 * 1) This narrow layout container is for lists, forms,
 *    and other singular objects that aren't dashboard-y
 *    kinds of displays
 */
.l-linelength-container {
	max-width: $l-linelength-width;
}

.l-grid__sidebar {
}

/*------------------------------------*\
    #GRID
\*------------------------------------*/

/**
 * Grid Container
 */
.l-grid {
	@media all and (min-width: 47em) {
		display: grid;
		grid-template-columns: 320px 1fr;
		grid-gap: 6rem;
	}
}

/**
 * Grid Item
 */
.l-grid__item {
}
